<style>
html{
box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

 
.body {
  height: 100vh;
}

.container{
display: grid;
grid-template-rows: 300px, auto;
grid-template-columns: 2fr, 5fr, 5fr;
grid-template-areas: 
   "naglowek naglowek naglowek"
   "kontakt nowa stara"
   



}



  



</style> 
