
:root {
  --yellow: #ffc600;
  --black: #272727; 
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 40px;
  color: white;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: -1px -1px -1px -1px;
  background-color: coral;
     height: 100vh;
  
  
  /* background: white; */
  
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0 0;
}


  
  

/* Each item in our grid will contain numbers */
.item1 {
  /* We center the contents of these items. You can also do this with flexbox too! */
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background-color: #142533; /* best colour */
  grid-area: naglowek;
  color: white;
  
}


.item2 {
  /* We center the contents of these items. You can also do this with flexbox too! */
  display: grid;
  justify-content: center;
  align-items: center;
  
  font-size: 35px;
  background-color: lightslategray; /* best colour */
  grid-area: opisn;
}
.item3 {
  /* We center the contents of these items. You can also do this with flexbox too! */
  display: grid;
  justify-content: center;
  align-items: center;
  
  font-size: 35px;
  background-color: greenyellow; /* best colour */
  grid-area: opisi;
}
.item4 {
  /* We center the contents of these items. You can also do this with flexbox too! */
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background-color: rosybrown; /* best colour */
  grid-area: kontakt;
}







.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns:  1fr ;
  grid-template-rows: 1fr 3fr 3fr 1fr;
  grid-template-areas: "naglowek"
                        "opisn"
                        "opisi"
                        "kontakt";


}


.center{
  display: grid;
  align-content: center;
  justify-items: center;
  }


@media (max-width: 599px){
  .container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns:  1fr ;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    grid-template-areas: "naglowek"
                          "opisn"
                          "opisi"
                          "kontakt";
  
  
  }


  .item1 {
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;
    align-content: center;
    justify-items: center;
    background-color: #142533; /* best colour */
    grid-area: naglowek;
    grid-template-columns:  1fr ;
    color: white;
  
  }

  #logo {
    height: 10px;
  }

  h1 {
  font-size 15px;
          }
  
   h2 {
  font-size 10px;
          }
  
}










@media (min-width: 600px){
  .container {
    height: 100vh;
  grid-template-columns: 250px 1fr 1fr 250px;
  grid-template-rows: 250px 4fr  250px;
  grid-template-areas: "naglowek naglowek naglowek naglowek"
                        "opisn opisn  opisi opisi"
                        "kontakt kontakt kontakt kontakt";

  }


  .item1 {
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;
    align-content: center;
    justify-items: center;
    font-size: 35px;
    background-color: #142533; /* best colour */
    grid-area: naglowek;
    grid-template-columns: 250px 1fr ;
   color: white;

  }
  #logo {
    height: 250px;
  }


  
}









@media (min-width: 1023px){
  .container {
    height: 100vh;
  grid-template-columns: 300px 1fr 1fr ;
  grid-template-rows: 300px 1fr;
  grid-template-areas: "naglowek naglowek naglowek"
                        "kontakt opisn  opisi";
  
  }

  .item1 {
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;
    align-content: center;
    justify-items: center;
    font-size: 35px;
    background-color: #142533; /* best colour */
    grid-area: naglowek;
    grid-template-columns: 300px 1fr ;
   
    color: white;
       
  }
  
  
  #logo {
    height: 300px;
  }

  

  }
